@body-background-color: hsla(219, 100%, 96%, 1); // light grey

@button-addtocart-color: hsla(355, 72%, 40%, 1); // Blood red
@button-addtocart-color-hover: darken(@button-addtocart-color, 5%); //darker blood red
@button-towishlist-color: hsla(0, 100%, 63%, 1); //light red
@button-towishlist-color-hover: darken(@button-towishlist-color, 20%);
@button-tocompare-color: hsla(236, 100%, 70%, 1);
@button-tocompare-color-hover: darken(@button-tocompare-color, 10%);
@button-emailtofriend-color: hsla(63, 96%, 42%, 1);
@button-emailtofriend-color-hover: darken(@button-emailtofriend-color, 10%);

@minicart-counter-background-color: rgb(217, 55, 64);
@minicart-icon-color: hsla(269, 100%, 46%, 1);
@minicart-icon-color-hover: darken(@minicart-icon-color, 15%);
@minicart-icon-remove-color: hsla(0, 0%, 50%, 1);
@minicart-icon-remove-color-hover: hsla(0, 70%, 50%, 1);
@minicart-background-color: rgb(243, 243, 243);
@minicart-productname-color: hsla(0, 100%, 43%, 1);
@minicart-productname-color-hover: darken(@minicart-productname-color, 10%);

@searchbar-border-color: rgb(219, 217, 220);
@searchbar-border-color-focus: rgba(135, 70, 80, 0.8);

@productbutton-product-name-text: hsla(0, 0%, 42%, 1);
@productbutton-product-name-text-hover: darken(@productbutton-product-name-text, 10%);
