@button-addtocart-color: hsla(355, 72%, 40%, 1); // Blood red
@button-addtocart-color-hover: darken(@button-addtocart-color, 5%); //darker blood red
@button-wishlistcompare-color: hsla(0, 0%, 32%, 1); //dark grey
@button-towishlistcompare-color-hover: darken(@button-wishlistcompare-color, 5%);
@body-background-color: hsla(219, 100%, 96%, 1); // light grey
