//
//  Product link
//  ---------------------------------------------

  .abs-product-link {
    > a {
      color: @productbutton-product-name-text-color;
      &:hover {
        color: @productbutton-product-name-text-color-hover;
        text-decoration: none;
      }
    }
}
