@body-background-color: hsla(219, 100%, 96%, 1); // light grey
@login-panel-icon-color: hsla(105, 100%, 54%, 1);
@login-panel-background-color: hsla(0, 0%, 28%, 1);
@navigation-panel-background-color: hsla(228, 100%, 63%, 1); //hsla(180, 100%, 52%, 1);
@navigation-panel-categories-text-color: hsla(360, 0%, 100%, 1); //hsla(105, 100%, 34%, 1);
@navigation-panel-categories-text-color-hover: darken(@navigation-panel-categories-text-color, 20%);
@navigation-highlight-categories-underline-color: hsla(245, 100%, 55%, 1); //hsla(302, 79%, 69%, 1);
@navigation-text-size: 13px;
